<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-bottom">
    <div class="container">
            <div class="row footerIcons">
              <div class="col">
                <a href="https://shawe.co"><img src="/images/the-shawe-ib.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt=""></a>
              </div>
              <div class="col">
                <a href="https://fixathon.io"><img src="/images/climate-fixathon-logo_fleg.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt=""></a>
              </div>
              <div class="col">
                <a href="https://www.buymeacoffee.com/davidshawe"><img src="/images/support-ethical-chat.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt=""></a>
              </div>
          </div>
</nav>
